body{
    background-color: #2F2E41;
    font-family: 'JetBrains Mono', monospace;
}

#page{
    width: 82%;
    margin: 0 auto;
}

#page header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

#page header ul{
    display: flex;
    gap: 5rem;
}

ul li{
    list-style: none;
}

li:hover{
    font-weight: bold;
}

li a{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    gap: 2.8rem;
}

section h1{
    font-size: 2.8rem;
    text-align: right;
}

section h1 span, p span{
    font-weight: bold;
    color: hsla(172, 100%, 37%, 1);
}

section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 5rem;
}

footer{
    margin-top: 11rem;
    text-align: center;
}

footer #line{
    border-top: 1.5px solid hsla(172, 100%, 37%, 1);
    width: 50%;
    margin: 0 auto;
}
footer p{
    margin-top: 2rem;
    font-size: 1rem;
}

footer p a{
    text-decoration: none;
}

h1, p, a{
    color: white;
}

#balls{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
}