*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --primary-color: #E0E0E0;
    --secondary-color: #3E77E7;
    --headind-color: white;
    --primary-bg: #1B1B1B;
    --secondary-bg:#0c0c0c;
}

body{
    font-size: 1.6rem;
    font-family: 'Fira Sans', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-bg);
}

main section:nth-child(even){
    background-color: var(--primary-bg);
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-bg);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2rem 6rem;
}

nav p {
    font-size: 2.5rem;
}

span{
    color: var(--secondary-color);
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

a{
    text-decoration: none;
}

nav li{
    color: var(--primary-color);
}

h1, h2, strong{
    color: var(--headind-color);
}

section .intro-wrapper,
section .about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
}

.intro-text p{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.intro-text h1{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.intro-text h3{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.about-text h2{
    font-size: 4rem;
 }

.intro-buttons button{
    width: 22rem;
    height: 6rem;
    background-color: transparent;
    border: solid;
    color: hsla(0, 0%, 96%, 1);
    border-radius: 5px;
    font-family: 'Fira Sans';
    font-size: 2.4rem;
    line-height: 2.9rem;
}

.intro-buttons button:nth-child(1){
    border: none; 
    margin-right: 3rem;
    background-color: hsla(220, 78%, 57%, 1);
    color: hsla(0, 0%, 96%, 1);
 }


 .projects{
    padding: 7rem;
    text-align: center;
 }

 .projects h2{
    font-size: 4rem;
 }

 .card-wrapper{
    display: flex;
    gap: 3rem;
    margin-top: 5.2rem;
 }

 .cards{
    padding: 4rem 2.5rem;
    background-color: #292929;  
 }

 .cards img{
    width: 40rem;
    border-radius: 5px;
    margin-bottom: 2.5rem;
 }

 .cards p{
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 3.4rem;
 }