<header>
    <nav class="navbar bg-body-tertiary">
        <ul class="nav mr-auto">
            <li class="nav-item"><a class="nav-link navbar-brand" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link navbar-brand" href="/sobre">Sobre</a></li>
        </ul>
    </nav>
</header>
