body{
    background: #E5E5E5;
}

body::before{
    content: '';
    width: 100%;
    height: 40rem;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page{
    width: 70rem;
    margin: 0 auto;
}

#header{
    margin-top: 8rem;
    width: 35rem;
}

#header h1, header p{
    margin-bottom: 3rem;
}

h1{
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    color: white;
}

p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.5rem;
    color: #42D3FF;
}

form{
    background: white;
    min-height: 30rem;
    padding: 6rem;
    border-radius: 8px 8px 0 0;
}

#fieldset-separator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

fieldset{
    border: none;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fieldset-wrapper legend{
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;

    border: none;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
}

.input-wrapper label, .checkbox-wrapper label{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #4E4958;
}

.input-wrapper label span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #C1BCCC;
    margin-left: 1rem;
}

.input-wrapper input, textarea, select{
    border: 1px solid #E6E6F0;
    height: 6rem;
    padding: 0 2rem;
    border-radius: 8px;
    font-size: 1.8rem;
}

.input-wrapper textarea{
    padding: 2rem;
    height: 15rem;
}

.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.checkbox-wrapper input{
    width: 22px;
    height: 22px;
}

.col-3{
    display: flex;
    gap: 2rem;
}

.col-3 > div:nth-child(1){
    width: 100%;
}

footer{
    border-top: 1px solid #D6D6D6;
    text-align: center;
    background: #F0F0F4;
    margin-bottom: 5rem;
    padding: 4rem 4rem;

    border-radius: 0 0 8px 8px;
}

footer input{
    border: none;
    border-radius: 8px;
    width: 60rem;
    height: 5rem;
    background: #04D361;
    color: white;

    font-family: 'Archivo';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
}

footer input:hover{
    background: #0d9a4c;
}


input:invalid{
    border: 2px solid red;
}