*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; 
}

body{
    /*min-width: 440px;*/
    font-size: 1.6rem;
    background: #EFF1FF;
}

.page{
    text-align: center;
    /*max-width: 45rem;*/
    margin: 0 auto;
}

.page header{
    background-color: #8E9AAF;
    animation-name: topdown;
    animation-duration: 1000ms;
}

header img{
    margin-top: 3.2rem;
    margin-bottom: 1rem;
}

header h1{
    font-family: 'Staatliches';
    font-size: 4rem;
    line-height: 3.5rem;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 1rem 0;
    color: #FFFFFF;
    background: #CBC0D3;
}

header p{
    font-family: 'Palanquin';  
    font-size: 2rem;  
    line-height: 3rem;
    color: #23053A;
    background: #EFF1FF;
    padding: 3rem 4rem 3rem;
}

.separador-card{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.card{
    position: relative;
    margin: auto;
}

.card img{
    /*object-fit: cover;*/
    width: 100%;
    transition: 300ms;
    animation-name: downtop;
    animation-duration: 1000ms;
}

.card img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

.card h2{
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    right: 2rem;
    padding: 0 1rem;
    animation-name: topdown;
    animation-duration: 2000ms;

    font-family: 'Staatliches';
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #4A4E69;
    background: #FEEAFA;
    border-radius: 2rem;
}

footer{
    display: none;
    font-family: 'Roboto';
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

@keyframes topdown{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes downtop{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@media(min-width: 700px){
    .separador-card{
        grid-template-areas: 
        "A B C" 
        "D B E" 
        "D F E";

        justify-content: center;
        max-width: 85vw;
        display: grid;
        padding: 0;
    }

    .separador-card .card:nth-child(1){
        grid-area: F;
    }

    .separador-card .card:nth-child(2){
        grid-area: B;
    }

    .separador-card .card:nth-child(3){
        grid-area: A;
    }

    .separador-card .card:nth-child(4){
        grid-area: D;
    }

    .separador-card .card:nth-child(5){
        grid-area: C;
    }

    .separador-card .card:nth-child(6){
        grid-area: E;
    }

    footer{
        display: block;
    }

    footer a{
        text-decoration: none;
        color: #252737;
    }
}

@media(min-width: 1000px){

    .page{
        display: flex;
        align-items: center;
    }

    .separador-card{
        width: 70vw;
        padding: 2rem 2rem;
    }

    main{
        margin: auto;
    }

    header{
        width: 25%;
        height: 100vh;
    }

    header p{
        background-color: #8E9AAF;
        color: #FFFFFF;
    }
}